<link href="./index.css" rel="stylesheet">

<div class="g-head">
  <div class="head-main">
    <div class="head-logo">
      <h1><a href="#">TW Bookshelf</a></h1>
    </div>
    <div class="head-action">
      <a href="#" target="_blank">set default</a>|<a href="#" target="_blank">favorite</a>|<a href="#"
                                                                                              target="_blank"
                                                                                              class="g_ico_help">help</a>
    </div>
  </div>
  <div class="head-nav">
    <ul class="head-main">
      <li><a title="home" href="/index.html">home</a></li>
      <li>
        <a href="/pages/book/index.html" title="book">book</a>
        <ul class="navli">
          <li><a href="#" title="option1">option1</a></li>
          <li><a href="#" title="option2">option2</a></li>
          <li><a href="#" title="option3">option3</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
