<link href="./index.css" rel="stylesheet">

<form class="form">
  <div class="form__element">
    <label class="form__element--text-left">Title:</label>
    <input type="text" name="Title" class="form__element--input-right" maxlength="255">
  </div>
  <div class="form__element">
    <label class="form__element--text-left">Author:</label>
    <input type="text" name="Author" class="form__element--input-right" maxlength="255">
  </div>
  <div class="form__element">
    <label class="form__element--text-left">ISBN:</label>
    <input type="tel" name="ISBN" class="form__element--input-right" maxlength="17">
  </div>
  <div class="form__element">
    <label class="form__element--text-left">Price($):</label>
    <input type="tel" name="Price($)" class="form__element--input-right" maxlength="8">
  </div>
  <div class="form__element">
    <button id="submit" type="submit" class="form__element--submit">Submit</button>
  </div>
</form>

