*{
  padding: 0;
  margin: 0;
}
ul,ol{
  list-style: none;
}
table{
  border-collapse: collapse;
  border-spacing: 0
}

html{
  font-family: "Helvetica Neue", Helvetica, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", Arial, sans-serif;
  background-color:#f0f2f5;
  line-height: 1.6;
  font-size: 62.5%;
}
a{color:#999;text-decoration: none;cursor: pointer;}
a:hover{color:#777;}

